@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Background of the app */
  /* --bgDefault: #e0dac8; */
  --bgDefault: #fff;
  /* Background of the "push" columns */
  --bgEmphasis: #dfd5b7;
  /* Hover of column */
  --bgHover: #e3d9bc;
  --textHover: #000;
  /* Active column */
  --bgActive: #dbc991;
  --textActive: #000;
  /* Text color */
  --textColor: #000;
  /* Button background */
  --bgButton: #444;
  /* Button text */
  --fgButton: #e5e5e5;

  @media print {
    --bgDefault: #fff;
    --bgEmphasis: #ccc;
  }
}

/* @media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}
